@import './general.scss';

.attributes-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  margin-bottom: 20px;
  header {
    @include font (20px, 500);
  }
}
.checkbox {
  @include font (10px, 300);

  margin: 5px 0;
  input {
    vertical-align: middle;
  }
}